#main section#dashboardView {
    font-family: ext-font, 'Maiandra GD', 'Courier New', Courier, monospace;
    margin-left: 12%;
    margin-right: 2%;
}

#tabs .tab {
    border: 0px solid;
    border-radius: 5px;
    width: 1%;
    cursor: pointer;
    font-size: 120%;
    transition: 0.2s;
    animation-duration: 1.0s;
    animation-name: zoomout;
}

#tabs .tab:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s
}

th#firstTab {
    background-color: rgb(189, 229, 255);
    /* background-color: rgb(49, 139, 218); */
}

th#secondTab {
    background-color: rgb(189, 229, 255);
}

th#thirdTab {
    background-color: rgb(189, 229, 255);
}

th#forthTab {
    background-color: rgb(189, 229, 255);
}

@keyframes zoomout {
    from {
        font-size: 300%;
        background-color: rgb(30, 255, 0);
    }
}

@media screen and (max-width: 600px) {
    #main section#dashboardView {
        margin-left: 38%;
    }
}