#main section#dashboardView {
    margin-left: 12%;
    margin-right: 2%;
}

#tabs .tab {
    background-color: rgb(208, 226, 238);
    border: 0px solid;
    border-radius: 5px;
    width: 1%;
    cursor: pointer;
    transition: 0.2s
}

#tabs .tab:hover {
    cursor: pointer;
    color: rgb(61, 107, 233);
    transition: 0.2s
}

@media screen and (max-width: 600px) {
    #main section#dashboardView {
        margin-left: 38%;
    }
}