.img#dashboard {
    width: 20px;
    margin-top: 20%;
    margin-left: 15px;
}

.img#team {
    width: 20px;
    margin-top: 15%;
    margin-left: 15px;
}

.img#settings {
    width: 20px;
    margin-top: 15%;
    margin-left: 15px;
}

.img#notification {
    width: 20px;
    margin-top: 15%;
    margin-left: 15px;
}

.img#logout {
    width: 20px;
    margin-top: 15%;
    margin-left: 15px;
}

li.navLi {
    display: inline-block;
    margin-top: 10px;
}

li a {
    text-align: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    transition: 0.2s;
}

li a:hover {
    text-align: left;
    text-decoration: none;
    color: rgb(17, 196, 11);
    margin: 10px;
    font-size: 105%;
    transition: 0.2s;
}

#navigation nav#navbar {
    background-color: rgb(25, 114, 192);
    display: inline;
    float: left;
    position: fixed;
    width: 12%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

button#toggleOpen {
    color: black;
    position: fixed;
    left: 8px;
    top: 3px;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(245, 222, 179, 0);
    border: 0px;
    font-size: 110%;
    transition: 0.2s;
    display: none;
}

button#toggleOpen:hover {
    font-size: 120%;
    transition: 0.2s;
    color: rgb(91, 253, 76);
}

button#toggleClose {
    color: black;
    position: fixed;
    left: 122px;
    top: 3px;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(245, 222, 179, 0);
    border: 0px;
    font-size: 110%;
    /* display: none; */
    transition: 0.2s;
    display: inline-block;
}

button#toggleClose:hover {
    font-size: 120%;
    transition: 0.2s;
    color: rgb(91, 253, 76);
}

@media screen and (max-width: 600px) {
    #navigation nav {
        width: 50%;
        height: 100%;
        z-index: 1;
    }
    button#toggleOpen {
        left: 5px;
        top: 2px;
    }
    button#toggleClose {
        left: 120px;
        top: 2px;
    }
    #navigation nav#navbar {
        background-color: rgb(25, 114, 192);
        display: inline;
        float: left;
        position: fixed;
        width: 35%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
    }
}