input[type="checkbox"] {
    position: relative;
    width: 60px;
    height: 15px;
    top: 5px;
    display: inline-block;
    transition: 0.2s;
    appearance: none;
    box-shadow: inset 0px 0px 1px 1px rgb(167, 167, 167);
    background-color: rgb(44, 149, 197);
    border-radius: 10px;
}

input:checked[type="checkbox"] {
    background-color: rgb(96, 238, 91);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: 0.3s;
    transform: scale(0.8);
}

input:checked[type="checkbox"]:before {
    left: 45px;
}

form#settings {
    display: inline-block;
    margin-left: 15%;
    margin-top: 4%;
}

form#settings input[type="password"] {
    display: block;
    border-radius: 4px;
    margin-left: 200%;
    margin-top: 4px
}

form#settings input[type="text"] {
    display: block;
    border-radius: 4px;
    margin-left: 200%;
}

form#settings input[type="submit"] {
    border: 2px solid rgb(25, 116, 190);
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 100%;
    width: 100px;
    height: 30px;
    background: none;
}

form#settings label.change-value {
    position: relative;
    top: 20px;
}

#settings div.box {
    border-bottom: 2px solid rgb(25, 116, 190);
    border-right: 2px solid rgb(25, 116, 190);
    margin: 30px;
}

div#toggle {
    position: relative;
    left: 330px;
}

@media screen and (max-width: 600px) {
    form#settings {
        margin-left: 42%;
        margin-top: 4%;
    }
    form#settings input[type="password"] {
        display: block;
        margin-left: 0%;
        margin-top: 24px
    }
    form#settings input[type="text"] {
        display: block;
        margin-top: 24px;
        margin-left: 0%;
    }
    /* TODO: Fix the settings view on 600px */
}