input[type="checkbox"] {
    position: relative;
    width: 60px;
    height: 15px;
    left: 12%;
    top: 5px;
    display: inline-block;
    transition: 0.2s;
    appearance: none;
    box-shadow: inset 0px 0px 1px 1px rgb(167, 167, 167);
    background-color: rgb(44, 149, 197);
    border-radius: 10px;
}

input:checked[type="checkbox"] {
    background-color: rgb(96, 238, 91);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: 0.3s;
    transform: scale(0.8);
}

input:checked[type="checkbox"]:before {
    left: 45px;
}


/* form#settings input {
    font-size: 105%;
}

form#settings label {
    font-size: 105%;
}

form#settings {
    display: inline-block;
    margin-left: 15%;
    margin-top: 4%;
}

form#settings label.change-value {
    display: inline-block;
    font-weight: bold;
}

label.toggle-txt {
    position: relative;
    left: -10.4%;
    top: 40px;
}

form#settings input[type="password"] {
    display: block;
    border-radius: 4px;
    margin-top: 4px
}

form#settings input[type="text"] {
    display: block;
    border-radius: 4px;
}

div#toggle {
    background: rgba(78, 171, 233, 0.116);
    padding: 5%;
    border-bottom: 1px solid;
    width: 430%;
    height: 65px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 5%;
}

div#ch-username {
    background: rgba(78, 171, 233, 0.116);
    padding: 5%;
    border-bottom: 1px solid;
    width: 430%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 5%;
}

div#ch-teamName {
    background: rgba(78, 171, 233, 0.116);
    padding: 5%;
    border-bottom: 1px solid;
    width: 430%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 5%;
}

div#ch-password {
    background: rgba(78, 171, 233, 0.116);
    padding: 5%;
    border-bottom: 1px solid;
    width: 430%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 5%;
} */


/* TODO: add queries for navbar and form */

.option {
    font-family: ext-font, 'Maiandra GD', 'Courier New', Courier, monospace;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 12%;
    margin-right: 2%;
    background: rgba(86, 165, 243, 0.274);
}

label.toggle-txt {
    display: inline-block;
    position: relative;
    left: 12%
}

.option-container input {
    font-family: ext-font, 'Maiandra GD', 'Courier New', Courier, monospace;
    background: rgb(255, 255, 255);
    border: 1px solid;
    display: block;
    border-radius: 3px;
    position: relative;
    left: 12%;
    font-size: 100%;
}

.pass-container input {
    background: rgb(255, 255, 255);
    border: 1px solid;
    display: block;
    border-radius: 3px;
    position: relative;
    left: 12%;
    margin-top: 1%;
    font-size: 100%;
}

#btns button {
    font-family: ext-font, 'Maiandra GD', 'Courier New', Courier, monospace;
    position: relative;
    left: 10%;
    margin-top: 2%;
    margin-left: 25%;
    border: 1px solid rgb(87, 87, 87);
    box-shadow: 1px 1px 2px 1px;
    border-radius: 7px;
    font-size: 100%;
}

#btns button:active {
    box-shadow: 0px 0px 0px 0px;
}

#btns button#save-btn {
    background: rgb(182, 255, 173);
    transition: 0.2s;
}

#btns button#del-btn {
    background: rgb(250, 68, 62);
    transition: 0.2s;
}

#btns button#save-btn:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: 0.2s;
}

#btns button#del-btn:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    #main section#settingsView {
        margin-left: 38%;
    }
    #btns button {
        left: 5%;
        margin-top: 15%;
    }
}