#org-set {
    margin: 10%;
    margin-left: 5%;
}

#org-set h1 {
    font-size: 150%;
    color: rgb(1, 34, 180);
    text-align: center;
}

#org-set p {
    font-size: 90%;
    text-align: center;
}

#org-set input {
    font-size: 120%;
    margin-left: 15%;
    border: 1px solid rgb(114, 113, 113);
    text-align: center;
    border-radius: 5px;
    width: 70%;
}

#org-set button {
    color: rgb(25, 66, 248);
    font-size: 350%;
    border: 0px;
    margin-top: 50px;
    margin-left: 48%;
    text-align: center;
    background: rgb(255, 255, 255);
    transition: 0.2s;
}

#org-set button:hover {
    color: rgb(25, 248, 62);
    font-size: 360%;
    transition: 0.2s;
}