#loginView {
    text-align: center;
}

.form input {
    display: block;
    margin-left: 32%;
}

.form select#privilege {
    display: block;
    margin-left: 42%;
}

@media screen and (min-width: 430px) {
    .form input {
        display: block;
        margin-left: 43%;
    }
    .form select#privilege {
        display: block;
        margin-left: 47%;
    }
}

#containerForm {
    border: 1px solid;
    border-radius: 15px;
}