/* My Tasks , Assign Task, Completed Tasks*/

table.table-tasks {
    width: 100%;
}

table.table-tasks td {
    width: 10%;
}

table.table-tasks input {
    text-align: center;
    width: 96.5%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    font-size: 90%;
    box-shadow: 1px 1px 5px #888888;
}

table.table-tasks button {
    margin: 2%;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    font-size: 90%;
    transition: 0.3s;
}

div.actions {
    text-align: center;
}

div.actions button {
    width: 40%;
}

table button.assignBtn {
    background-color: rgb(156, 245, 156);
    box-shadow: 1px 2px 1px 1px rgb(197, 197, 197);
}

table button.assignBtn:hover {
    background-color: rgb(39, 218, 39);
}

table button.startBtn {
    background-color: rgb(156, 245, 156);
    box-shadow: 2px 2px 1px 1px rgb(197, 197, 197);
}

table button.startBtn:hover {
    background-color: rgb(39, 218, 39);
}

table button.startBtn:active {
    background-color: rgb(171, 247, 168);
    box-shadow: 0px 0px 0px 0px rgb(197, 197, 197);
}

table button.deleteBtn {
    background-color: rgb(241, 144, 144);
    box-shadow: 2px 2px 1px 1px rgb(197, 197, 197);
}

table button.deleteBtn:hover {
    background-color: rgb(226, 36, 36);
}

table button.deleteBtn:active {
    background-color: rgb(247, 168, 168);
    box-shadow: 0px 0px 0px 0px rgb(197, 197, 197);
}

table button.finishBtn {
    background-color: rgb(143, 206, 243);
    box-shadow: 2px 2px 1px 1px rgb(197, 197, 197);
}

table button.finishBtn:hover {
    background-color: rgb(34, 161, 235);
}

table button.finishBtn:active {
    background-color: rgb(170, 221, 250);
    box-shadow: 0px 0px 0px 0px rgb(197, 197, 197);
}

#table-head {
    font-size: 110%;
}

@media screen and (max-width: 600px) {
    table.table-tasks {
        font-size: 80%;
        display: flex;
        width: 110%;
        flex-flow: row wrap;
    }
    #table-head {
        display: flex;
        flex-flow: row wrap;
    }
    #table-head th {
        font-size: 80%;
    }
    table.table-tasks input {
        width: 86.5%;
        display: flex;
        flex-flow: row wrap;
    }
    table.table-tasks button {
        width: 100%;
        margin: 0%;
        display: flex;
        flex-flow: row wrap;
    }
}


/* Create Task */

form#create-task-form {
    text-align: center;
    margin-left: 25.5%;
    display: block;
    width: 45%;
    box-shadow: 4px 4px 15px -4px rgb(187, 186, 186);
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(216, 216, 216);
    margin-top: 5%;
    height: 500px;
}

form#create-task-form label {
    display: block;
    font-size: 110%;
    margin-top: 7%;
}

form#create-task-form input {
    display: inline-block;
    font-size: 110%;
    margin-top: 2%;
}

form#create-task-form input#submit-btn {
    display: block;
    font-size: 120%;
    margin-top: 5%;
    margin-left: 42.8%;
    border: 0px solid;
    border-radius: 7px;
    background-color: rgb(186, 225, 255);
    width: 15%;
    transition: 0.2s;
}

form#create-task-form input#submit-btn:hover {
    background-color: rgb(57, 151, 223);
    transition: 0.2s;
}

form#create-task-form input#submit-btn:active {
    background-color: rgb(186, 225, 255);
    transition: 0.2s;
}

form#create-task-form textarea {
    display: inline-block;
    font-size: 120%;
    resize: none;
    margin-top: 7%;
    border-radius: 7px;
}

form#create-task-form p.notify {
    display: none;
    font-weight: bold;
    color: rgba(39, 196, 25, 0.842)
}

form#create-task-form p.notify span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.842)
}

@media screen and (max-width: 600px) {
    form#create-task-form {
        text-align: center;
        margin-left: 7%;
        display: block;
        width: 85%;
        box-shadow: 4px 4px 15px -4px;
        border: 1px solid;
        border-radius: 5px;
        border-color: rgb(216, 216, 216);
        margin-top: 5%;
        height: 380px;
    }
    form#create-task-form textarea {
        font-size: 100%;
        width: 80%;
        resize: none;
    }
    form#create-task-form input {
        font-size: 90%;
    }
    form#create-task-form input#submit-btn {
        font-size: 90%;
        margin-left: 38%;
    }
}