/* My Tasks */

table.table-tasks {
    width: 100%;
}

table.table-tasks input {
    width: 96.5%;
    font-size: 90%;
    box-shadow: 1px 1px 5px #888888;
}

table.table-tasks button {
    width: 27.5%;
    margin: 2%;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    font-size: 90%;
    transition: 0.3s;
}

table button.startBtn {
    background-color: rgb(156, 245, 156);
}

table button.startBtn:hover {
    background-color: rgb(39, 218, 39);
}

table button.deleteBtn {
    background-color: rgb(241, 144, 144);
}

table button.deleteBtn:hover {
    background-color: rgb(226, 36, 36);
}

table button.finishBtn {
    background-color: rgb(143, 206, 243);
}

table button.finishBtn:hover {
    background-color: rgb(34, 161, 235);
}

#table-head {
    font-size: 110%;
}


/*  Tables are not responsive */

@media screen and (max-width: 600px) {
    table.table-tasks {
        font-size: 80%;
        display: flex;
        width: 110%;
        flex-flow: row wrap;
    }
    #table-head {
        display: flex;
        flex-flow: row wrap;
    }
    #table-head th {
        font-size: 80%;
    }
    table.table-tasks input {
        width: 86.5%;
        display: flex;
        flex-flow: row wrap;
    }
    table.table-tasks button {
        width: 100%;
        margin: 0%;
        display: flex;
        flex-flow: row wrap;
    }
}


/* Create Task */

form#create-task-form {
    text-align: center;
    margin-left: 28%;
    display: block;
    width: 40.8%;
    box-shadow: 4px 4px 15px -4px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(216, 216, 216);
    margin-top: 5%;
    height: 380px;
}

form#create-task-form label {
    display: block;
    font-size: 110%;
    margin-top: 7%;
}

form#create-task-form input {
    display: inline-block;
    font-size: 110%;
    margin-top: 2%;
}

form#create-task-form input#submit-btn {
    display: block;
    font-size: 110%;
    margin-top: 10%;
    margin-left: 43.8%;
}

form#create-task-form textarea {
    display: inline-block;
    font-size: 120%;
    resize: none;
    margin-top: 2%;
    border-radius: 7px;
}